Package: ch.mdaus.homeless
Name: Homeless
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Hide various UI elements
Maintainer: Maxwell Dausch <max.dausch@gmail.com>
Author: Maxwell Dausch <max.dausch@gmail.com>
Section: Tweaks
Depiction: http://mdaus.ch/repo/depictions/?p=ch.mdaus.homeless
